uvicorn[standard]
gunicorn
pydantic
fastapi

requests
httpx
orjson
email-validator
feedparser
bs4

sentry-sdk

boto3

SQLAlchemy
SQLAlchemy-Utils


psycopg 

alembic

celery[redis]

PyYAML
redis
cachetools
python-jose
